*{
    margin: 0;
    pading: 0;
    font-family: 'Fira Sans', sans-serif;
  }
  
  body{
    /*background-color: #283655;*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .all{
     width: 1100px;
     background-color: white;
     /*box-shadow: 0px 3px 30px #464646;*/
     padding: 12px;
  }
  
  .nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
  }
  .nav_pt1{
    display: flex;
    align-items: center;
    gap: 14px;
    font-weight: bold
  
  }
  .nav_pt1_logo{
    background-image: url(./img/icon.png);
    background-size: cover;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
  .nav_pt2{
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 14px;
  }
  .nav_pt2 p:hover{
    cursor: pointer;
  }
  .nav_pt2_account{
    background-color: rgb(165,42,42);
    border: 3px solid rgb(165,42,42);
    width: 210px;
    height: 40px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .nav_pt2_account:hover{
    cursor: pointer;
    background-color: #fff;
    color: rgb(165,42,42);
    border: 3px solid rgb(165,42,42);
  }
  
  .presentation{
    background-image: url(./img/background.png);
    background-size: cover;
    background-position-x: center;
    box-shadow: 0px 3px 30px grey;
    width: 100%;
    height: 700px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .presentation_content{
    width: 400px;
    height: 550px;
    padding-left: 100px;
  }
  .presentation_title{
    height: 230px;
    font-size: 100px;
    text-shadow: 0.1em 0.1em 0.2em white;
  }
  .presentation_text{
    height: 100px;
    width: 300px;
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  
  .presentation_buy{
    height: 200px;
    display: flex;
    gap: 22px;
    align-items: end;
  }
  .presentation_buy1{
    background-color: rgb(165,42,42,0.8);
    border: 3px solid rgb(165,42,42);
    width: 190px;
    height: 150px;
    border-radius: 20px;
  }
  .presentation_buy2{
    background-color: rgb(165,42,42,0.8);
    border: 3px solid rgb(165,42,42);
     width: 190px;
    height: 150px;
    border-radius: 20px;
  }
  .presentation_buy_pt1{
    display: flex;
    padding: 16px;
  }
  .presentation_buy_img{
    background-image: url(./img/simbolo_compra.png);
    background-size: cover;
    width: 40px;
    height: 40px;
  }
  .presentation_buy_text{
    padding-left: 12px;
    
  }
  .presentation_buy_text .p1{
    font-size: 20px;
    color: white;
  }
  .presentation_buy_text .p2{
    font-size: 12px;
    color: white;
  }
  .presentation_buy_all{
    background-color: white;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 60px;
    gap: 12px;
  }
  .presentation_buy_all:hover{
    cursor: pointer;
     transform: scale(1.06);
  }
  .presentation_buy_pt2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  .presentation_buy_icon{
    background-image: url(./img/simbolo.png);
    background-size: cover;
    width: 40px;
    height: 40px;
  }
  
  .itens{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .itens_content{
    width: 90%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .itens_1{
    background-image: url(./img/granola1.png);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 350px;
  }
  .itens_2{
    background-image: url(./img/granola2.png);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 350px;
  }
  .itens_3{
    background-image: url(./img/granola3.png);
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 350px;
  }
  .itens_content a:hover{
     transform: scale(1.2);
  }
  .info{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .info .content{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content_all .img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
  }
  .content_all .title{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content_all .text{
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info .div{
    background-color: #d3d3d3;
    height: 200px;
    width: 4px;
  }
  
  
  .footer{
    height: 400px;
  }
  .footer_add{
    height: 300px; 
  }
  .footer_CR{
    height: 150px;
    background-color: rgb(165,42,42);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer_content{
    position: relative;
    top: -150px;
    box-shadow: 0px 3px 30px grey;
    background-color: #fff;
    border-radius: 20px 0px 20px 0px;
    width: 900px;
    height: 300px;
  }
  .footer_content .p1{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .footer_p1_textAdd{
     height: 180px;
     width: 240px;
  }
  .footer_p1_textAdd .title{
    height: 40px;
    font-size: 32px;
    color: rgb(165,42,42);
  }
  .footer_p1_textAdd .social{
    display: flex;
    justify-content: start;
    align-items: end;
    height: 80px;
    font-size: 32px;
    color: rgb(165,42,42);
    gap: 5px;
  }
  .icon{
    background-size: cover;
    height: 40px;
    width: 40px;
  }
  .icon:nth-child(1){
    background-image: url(./img/facebook.png);
  }
  .icon:nth-child(2){
    background-image: url(./img/twitter.png);
  }
  .icon:nth-child(3){
    background-image: url(img/instagram.png);
  }
  .icon:nth-child(4){
    background-image: url(./img/github.png);
    border-radius: 100%;
  }
  .footer_p1_text{
    display: grid;
    gap: 20px;
  }
  .footer_p1_text .title{
    font-weight: bold;
  }
  .footer_content .p2{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }